{% extends "base_header.html" %}

{% block title %}Key Club{% endblock title %}

{% block content %}
{% load static %}
{% csrf_token %}

<div class="container-fluid" id="content">
    <div class="container-fluid my-3">
        <h1 class="secondary-dark">
            This is the automation page,
        </h1>
        <h2 class="secondary-dark lh-sm">
            instructions:<br>
            1. find a sign up sheet google doc for the event you'd like to automate<br>
            2. copy the link and paste it in the space below<br>
            3. click "automate event"<br><br>
            <u>note</u>: you must be logged into the official key club google account,<br>
            if you accidentally logged into a different google account,<br>
            click the log out button and redo the login process
        </h2>
    </div>
    <div class="container-fluid mb-3">
        <div class="row">
            <div class="col d-flex align-items-start">
                <input type="url" id="event_link" placeHolder="Paste link here">
                <p class="primary-dark ms-2 fs-5">hours multiplier:</p>
                <input type="number" class="ms-2" id="hours_multiplier" placeHolder="1" value=1>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex align-items-start">
                <button class="btn btn-primary mt-2" onclick="automate_event()" id="automate-button">Automate event</button>
                <p class="primary-dark ms-2" id="api-response"></p>
                <button class="btn btn-primary mt-2 ms-3" onclick="log_out()">Log out</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h2 class="secondary-dark pt-3">
            FAQ:
            <ol class="pt-1">
                <h3><li>Why were some hours not automated?</h3>
                <h4 class="pl-3">The name was spelled incorrectly or a nickname was used,<br>
                and the bot couldn't find the person in the hours spreadsheet.</h4></li>
                <h3><li>Why is the automate button greyed out?</h3>
                <h4 class="pl-3">It's waiting for the server to respond to ensure that an<br>
                attempt to automate the event was made, as it needs to display<br>
                the response so the user knows if there was an error or not.</h4></li>
                <h3><li>Where's the log out button?</h3>
                <h4 class="pl-3">I haven't added it yet.</h4></li>
            </ol>
        </h2>    
    </div>
</div>

<script src={% static "js/keyclub/automate_event.js" %}></script>
<script src={% static "js/keyclub/log_out.js" %}></script>
<script src={% static "js/get_cookie.js" %}></script>

{% endblock content %}