{% extends "base_header.html" %}

{% block title %}Key Club{% endblock title %}

{% block content %}
{% load static %}

<div class="container-fluid space-top space-left" id="content">
    <h1 class="primary-light">
        You're unauthorized,
    </h1>
    <h2 class="primary-light line-spacing-2rem">
        or your credentials couldn't be refreshed,<br>
        go <a href={% url "keyclub:homepage" %}>back to the homepage</a> to get authorized.
    </h2>
</div>

{% endblock content %}