.navbar {
    background-color: #25291c;
}

.nav-link{
    color: #989c94;
    font-size: 1.5em;
    font-weight: normal;
}

.nav-link:hover {
    color: white;
}

.nav-link.active {
    color: #989c94 !important;
    font-size: 1.5em !important;
    font-weight: bold !important;
    margin-right: 1em;
}


.primary-dark {
    color: #25291c !important;
}

.secondary-dark {
    color: #434a33 !important;
}

.tertiary-dark {
    color: #67724f !important;
}

.primary-light {
    color: #989c94 !important;
}

.secondary-light {
    color: #bdc2bf !important;
}

.primary-bg {
    color: #e3e7d3 !important;
    background-color: #e3e7d3 !important;
}

.primary-light-bg {
    background-color: #989c94 !important;
}
.tertiary-dark-bg {
    background-color: #67724f !important;
}