{% extends "base_header.html" %}

{% block title %}Percussion{% endblock title %}

{% block content %}
{% load static %}
{% csrf_token %}

<h1 class=" p-3">Add instruments and locations</h1>
<div class="container-fluid d-flex align-content-start">
    <div class="row">
        <div class="col">

            <div class="card l2-bg mb-2" style="width: 21em;">
                <div class="card-body">
                    <h2 class="d1-c">Add location</h2>
                    <table>
                        <tr>
                            <td><h3 class="d1-c font-small me-1">Name</h3></td>
                            <td><input type="text" id="location_name" placeholder="jhs"></td>
                        </tr>
                    </table>
                    <button class="btn btn-dark" onclick="create_item('location')">Add</button>
                </div>
            </div>

            <div class="card l2-bg mb-2" style="width: 21em;">
                <div class="card-body">
                    <h2 class="d1-c">Add instrument</h2>
                    <table>
                        <tr>
                            <td><h3 class="d1-c font-small">Name</h3></td>
                            <td><input type="text" id="instrument_name" placeholder="golden snare"></td>
                        </tr>
                        <tr>
                            <td><h3 class=" font-small">Group</h3></td>
                            <td><input type="text" id="instrument_type" placeholder="drum"></td>
                        </tr>
                        <tr>
                            <td><h3 class=" font-small">Type</h3></td>
                            <td><input type="text" id="instrument_subtype" placeholder="snare drum"></td>
                        </tr>
                        <tr>
                            <td><h3 class=" font-small me-1">Location</h3></td>
                            <td><select name="Location" id="location_dropdown">
                                {% for location in locations %}
                                <option value={{ location.id }}>{{ location.name }}</option>
                                {% endfor %}
                            </select></td>
                        </tr>
                    </table>
                    <button class="btn btn-dark" onclick="create_item('instrument')">Add</button>
                </div>
            </div>

            <div style="width: 21em;" class="mb-2">
                <p id="api-response"></p>
            </div>

        </div>

        <div class="col">

            <div class="card l2-bg mb-2" style="width: 21em;">
                <div class="card-body">
                    <table>
                        <tr>
                            <td><h2 class="d1-c">Equipment</h2></td>
                            <td><button class="btn d-flex justify-content-center align-items-center p-0" style="width: 2em; height: 2em;" onclick="refresh_data()"><img src={% static "images/refresh_icon.png" %} class="w-100 h-100"></button></td>
                        </tr>
                        <tr>
                            <td>
                                <ul id="instrument-index">
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card l2-bg mb-2" style="width: 20em;">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h2 class="d1-c">Filter</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex">
                            <input type="text" id="filter_instrument_name" placeholder="snare drum">
                            <button class="btn d-flex justify-content-center align-items-center p-0 mx-2" style="width: 2em; height: 2em;" onclick="filter_create_item()"><img src={% static "images/plus_icon.png" %} class="w-100 h-100"></button>
                            <button class="btn d-flex justify-content-center align-items-center p-0" style="width: 2em; height: 2em;" onclick="filter_delete_item('clear_all_instruments')"><img src={% static "images/trash_icon.png" %} class="w-100 h-100"></button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <ul id="filter_instrument_index"></ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex align-items-start">
                            <p class="d1-c fs-4">Location:</p>
                            <select name="filter_location" id="filter_location_select" class="my-2 ms-2"></select>
                            <button class="btn btn-dark ms-2" onclick="filter_items()">Filter</button>
                        </div>
                    </div>
                    <div class="row border-top pt-2">
                        <div class="col-6">
                            <h4>To bring:</h4>
                            <ul id="to_bring_list"></ul>
                        </div>
                        <div class="col-6">
                            <h4>Already there:</h4>
                            <ul id="alr_there_list"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src={% static "js/get_cookie.js" %}></script>
<script src={% static "js/band/equipment_functions.js" %}></script>
<script src={% static "js/band/filter_functions.js" %}></script>

{% endblock content %}