{% extends "base_header.html" %}

{% block title %}Percussion{% endblock title %}

{% block content %}
{% load static %}
{% csrf_token %}

<div class="container mx-auto p-4 flex flex-col">
    <h1 class="text-4xl text-l1 my-4">Add instruments and locations</h1>

    <div class="container grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">

        <div class="container flex-flex-col">
            <div class="container rounded p-4 mb-2 bg-l1">
                <h2 class="text-2xl text-d1 font-semibold">Add location</h2>
                <div class="grid grid-cols-2">
                    <div class="container mb-2">
                        <h2 class="text-2xl text-d1">Name</h2>
                    </div>
                    <div class="container">
                        <input class="light-input w-11/12" type="text" id="location_name" placeholder=" Everett Civic">
                    </div>
                </div>
                <button class="light-button" onclick="create_item('location')">Add</button>
            </div>

            <div class="container rounded p-4 mb-2 bg-l1">
                <h2 class="text-2xl text-d1 font-semibold">Add instrument</h2>
                <div class="grid grid-cols-2">
                    <div class="container mb-2">
                        <h2 class="text-2xl text-d1">Name</h2>
                    </div>
                    <div class="container">
                        <input class="light-input w-11/12" type="text" id="instrument_name" placeholder=" Five octave">
                    </div>

                    <div class="container mb-2">
                        <h2 class="text-2xl text-d1">Group</h2>
                    </div>
                    <div class="container">
                        <input class="light-input w-11/12" type="text" id="instrument_type" placeholder=" Keyboard">
                    </div>

                    <div class="container mb-2">
                        <h2 class="text-2xl text-d1">Type</h2>
                    </div>
                    <div class="container">
                        <input class="light-input w-11/12" type="text" id="instrument_subtype" placeholder=" Marimba">
                    </div>

                    <div class="container mb-2">
                        <h2 class="text-2xl text-d1">Location</h2>
                    </div>
                    <div class="container">
                        <select class="light-input" name="Location" id="location_dropdown"></select>
                    </div>
                </div>
                <button class="light-button" onclick="create_item('instrument')">Add</button>
            </div>
        </div>

        <div class="container rounded p-4 mb-2 bg-l1">
            <div class="flex flex-row">
                <h2 class="text-2xl text-d1 mr-4 font-semibold">Equipment</h2>
                <button class="w-7 flex self-end" onclick="refresh_data()"><img src={% static "images/refresh_icon.png" %}></button>
            </div>
            <div class="flex flex-col pl-4 mt-2" id="instrument_index"></div>
        </div>

        <div class="container rounded p-4 mb-2 bg-l1">
            <h2 class="text-2xl text-d1 mr-4 font-semibold">Filter</h2>
            <div class="flex flex-row">
                <input class="light-input mt-2 mr-2" type="text" id="filter_instrument_name" placeholder=" snare drum">
                <button class="w-7 flex self-end mr-2" onclick="filter_create_item()"><img src={% static "images/plus_icon.png" %}></button>
                <button class="w-7 flex self-end" onclick="filter_delete_item('clear_all_instruments')"><img src={% static "images/trash_icon.png" %}></button>
            </div>

            <div class="flex flex-col mt-2" id="filter_instrument_index"></div>

            <div class="grid grid-cols-2">
                <div class="flex flex-row col-span-2 my-2">
                    <h2 class="text-2xl text-d1 mr-2">Location:</h2>
                    <select class="light-input mr-2" name="filter_location" id="filter_location_select"></select>
                    <button class="light-button" onclick="filter_items()">Filter</button>
                </div>

                <div class="container">
                    <h2 class="text-xl text-d1">To bring:</h2>
                    <div class="flex flex-col" id="to_bring_list"></div>
                </div>
                <div class="container">
                    <h2 class="text-xl text-d1">Already There:</h2>
                    <div class="flex flex-col" id="alr_there_list"></div>
                </div>
            </div>
        </div>

    </div>

    <h1 class="text-2xl text-l1 font-semibold" id="api_response"></h1>
</div>

<script src={% static "js/get_cookie.js" %}></script>
<script src={% static "js/band/equipment_functions.js" %}></script>
<script src={% static "js/band/filter_functions.js" %}></script>

{% endblock content %}