<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="9vKOEhTbqccvg42JnuP1NHOXWcxGknaaEyuJXrJYs1Y" />
    <title>{% block title %}{% endblock title %}</title>
    {% load static %}
    <link rel="shortcut icon" href={% static "images/favicon.ico" %}>
    <link rel="stylesheet" href={% static "css/build.css" %}>
    <script src={% static "js/feather.min.js" %}></script>
</head>
<body class="bg-d1 font-sans flex flex-col min-h-screen">
  <header>
    <nav class="bg-l1">
      <div class="py-4 px-4 flex flex-col sm:flex-row">
        <a href={% url "homepage" %}><h1 class="text-2xl me-10 font-semibold nav-link text-d1 hover:text-l2">nikolayli.com</h1></a>
        <ul class="sm:gap-5 flex:col sm:flex">
          <li><a class="nav-link text-2xl" href={% url "homepage" %}>home</a></li>
          <li><p class="text-xl hidden sm:flex">|</p></li>
          <li><a class="nav-link text-2xl" href={% url "keyclub:homepage" %}>key club</a></li>
          <li><p class="text-xl hidden sm:flex">|</p></li>
          <li><a class="nav-link text-2xl" href={% url "percussion:homepage" %}>percussion</a></li>
        </ul>
      </div>
    </nav>
  </header>
  
  <main class="flex-grow">
    {% block content %}{% endblock content %}
  </main>

  <footer class="mt-4">
    <div class="container w- grid grid-cols-2 mx-auto border-t border-l1">
      <div class="my-3">
        <a class="footer-link" href="https://www.instagram.com/thenikolayli/">@thenikolayli</a>
      </div>
      <div class="my-3 text-end">
        <a class="footer-link" href={% url "keyclub:privacy_policy" %}>privacy policy</a>
      </div>
    </div>
  </footer>  

</body>
</html>